{
  auto_https off
  debug
}

http://dex.localhost.direct {
  header {
    set-cookie "SameSite=None"
  }
  reverse_proxy dex:5556
}

http://frontend.localhost.direct {
  header {
    set-cookie "SameSite=None"
  }
  reverse_proxy svelte:3000
}

http://api.localhost.direct {
  header {
    set-cookie "SameSite=None"
  }
  handle_errors {
    @tooLarge expression `{http.error.message} == "http: request body too large"`
    handle @tooLarge {
      respond "Payload too large" 413
    }
  }
  reverse_proxy springboot:8080
}
