{
  auto_https off
  debug
}


http://frontend.localhost.direct {

  reverse_proxy svelte:3000
}

http://api.localhost.direct {

  handle_errors {
    @tooLarge expression `{http.error.message} == "http: request body too large"`
    handle @tooLarge {
      respond "Payload too large" 413
    }
  }
  reverse_proxy springboot:8080
}

http://keycloak.localhost.direct {

  reverse_proxy keycloak:8080
}
