apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose --file docker-compose.prod.yml convert
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: svelte
  name: svelte
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: svelte
  tags:
    - importPolicy:
        scheduled: true
  template:
    metadata:
      annotations:
        kompose.cmd: kompose --file docker-compose.prod.yml convert
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: svelte
    spec:
      containers:
        - env:
            - name: NODE_ENV
              value: production
          image: gitlab.uliege.be:5050/speam/2024-2025/team3/mdtools/svelte:latest
          name: svelte
          ports:
            - containerPort: 3000
              protocol: TCP
      restartPolicy: Always
      imagePullSecrets:
        - name: mdtools-gitlab-registry-deploytoken
      readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
      livenessProbe:
        httpGet:
          path: /
          port: 3000
        initialDelaySeconds: 10
        periodSeconds: 15
        timeoutSeconds: 5
